<link rel="stylesheet" href="/css/bootstrap.min.css">
{{> Menu}}
<div class="mx-5 text-center">
  <h1>Productos disponibles:</h1>
  <hr class="mb-5">
  <div class="card-group">
    {{> Tarjetas}}
  </div>
</div>